h1 
{
    font-size: 30px;
    color: #F24C05;
    font: Arial;
}
p

{
    font-size: 35px;
    color: #BF3C04;
    font: Arial;
}

#firstparagraph
{ 
    color: aqua;
}

#ikweetniet 
{ 
    color: darkgreen;
}